*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #1c2836;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: #615e5e;
  margin: 15px 60px;
}

h2 {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1c2836;
}
h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1c2836;
}

@media all and (max-width: 400px) {
  h1 {
    font-size: 14px;
  }

  h2 {
    font-size: 12px;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }
}
